@import "tailwindcss";

:root {
  --bg: #0A0A0A;
  --surface: #121212;
  --surface-2: #191919;
  --border: #242424;

  --accent: #F97316;
  --accent-dim: #7c3d10;

  --text: #F5F1EA;
  --text-dim: #8A8A8A;
  --text-faint: #454545;

  
}

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
}